:root {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  --ui-foreground: var(--color-gray-700);
}
.dark {
  --ui-background: var(--color-gray-900);
  --ui-foreground: var(--color-gray-200);
}

body {
  background-color: rgb(var(--ui-background)/var(--tw-bg-opacity));
  color: rgb(var(--ui-foreground)/var(--tw-text-opacity));
}